            * {
                margin: 0;
                padding: 0;
                list-style: none;
                float: none;
                outline: 0;
                border: none;
            }

            body {
                color:black;
                font-family: verdana, helvetica, arial, serif;
                background-color: #e5faff;
            }

            #header {
                height: 120px;
                float: top;
                padding-top: 20px;
                margin: 0;
                padding-bottom: 0;
                background-color: #80e7ff;
                border-bottom: 3px solid #6699cc;
            }

            #headerImg {
                float: left;
                padding-left: 40%;
                padding-top: 20px;
                padding-right: 0;
            }

            h1 {
                float: left;
                font: 20px;
                padding-left: 20px;
                padding-top: 25px;
            }

            #content {
                position: absolute;
                left: 200px;
                top : 120px;
                right: 0;
                bottom: 0;
                padding-top: 40px;
                padding-left: 40px;
                z-index: -1;
                background-color: #e5faff;
            }

            #welcomeHeader {
                padding: 10px;
            }

            #welcomeMsg {
                padding: 15px;
            }

            #login {
                position: absolute;
                left: 350px;
                top: 150px;
            }

            #loginHeader {
                padding : 10px 0 15px 0;
            }

            #loginForm p {
                padding : 10px 0 10px 0;
            }

            #loginForm input {
                position: absolute;
                left: 100px;
                width: 200px;
                height: 30px;
            }

            #submit {
                position: absolute;
                left: 100px;
                border: 2px solid #dae5f1;
                font-size: 1.2em;
            }

            #submit:hover {
                background: #80e7ff;
            }

            #newUser {
                padding-top: 20px;
                //border: 2px solid black;
            }

            #caution {
                position: absolute;
                top: 400px;
                color: red;
            }

            #navigation {
                float: left;
                width: 200px;
                top: 120px;
                height: 600px;
                left: 0;
                padding-top: 40px;
                padding-left:15px;
                background: #dae5f1;
                z-index: -1;
            }

            #links {
                padding-left: 3px;
                padding-bottom: 5px;
            }

            #navigation ul {
                margin: 0;
                padding:0;
                list-style: none;
            }

            #navigation ul a {
                margin: 5px;
                padding: 3px;
                display: block;
                width: 150px;
                background: #b5cbe3;
                text-decoration: none;
            }

            #navigation ul a:hover {
                background: #80e7ff;
            }

            #content_2 p {
                padding-top: 20px;
            }

            #content_3 ul {
                list-style: none;
            }

            .docName {
                padding-top: 20px;
            }

            .docImage {
                float: left;
                width: 300px;
                height: 150px;
            }

            .docInfo {
                padding-top: 40px;
                padding-left: 310px;
            }

            #tempMsg {
                padding-top: 100px;
            }

            #errorMsg {
                color: red;
                font-weight: bold;
            }

            #foot {
                position: absolute;
                top: 490px;
                left: 350px;
                right: 0;
                padding: 0;
                font-size: 80%;
            }
